<div class="row justify-content-center">
  <div class="col-md-8 text-center p-4">
    <h2>Trivia taller de integracion</h2>
    <div class="pt-2">
      <button
        type="button"
        class="btn btn-primary"
        (click)="joinSocket()"
        ng
        *ngIf="!isConnected"
      >
        Conectarse
      </button>
    </div>
    <app-lobby *ngIf="lobby" [lobby]="lobby"> </app-lobby>
    <section *ngIf="currentQuestion">
      <h4>Quedan {{ currentTimer }} segundos</h4>
      <app-question
        [question]="currentQuestion"
        [chatMessages]="chatMessages"
        (answerEmitter)="sendAnswer($event)"
      >
      </app-question>
    </section>
    <section *ngIf="highScores.length > 0">
      <h3>Highscores</h3>
      <table class="text-left">
        <thead>
          <th>Place</th>
          <th>Username</th>
          <th>Score</th>
        </thead>
        <tr *ngFor="let item of highScores; let i = index">
          <td>{{ i }}</td>
          <td>
            {{ item.username }}
          </td>
          <td>
            {{ item.score }}
          </td>
        </tr>
      </table>
    </section>
  </div>
  <div class="col-md-4 text-center p-4" *ngIf="currentQuestion">
    <h5 *ngIf="streak.username">
      Streak de {{ streak.username }} con {{ streak.streak }}
    </h5>
    <h3>Highscores</h3>
    <table class="text-left">
      <thead>
        <th>Place</th>
        <th>Username</th>
        <th>Score</th>
      </thead>
      <tr *ngFor="let item of scores; let i = index">
        <td>{{ i }}</td>
        <td>
          {{ item }}
        </td>
        <td>
          {{ scoresDict[item] }}
        </td>
      </tr>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
